# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
.env
.env.local

# Virtualenvs
venv/
env/
.venv/
ENV/

# IDEs
.vscode/
.idea/

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db
